/* Mobile */
@media (max-width: 740px) {
  #nav > li {
    display: block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    padding: 5px 41px;
    color: #fff;
  }
  #header .search-btn {
    display: none;
  }
  #header {
    overflow: hidden;
  }
  #nav {
    display: block;
  }
  #content .member-item {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  #content .members-list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }
  #content .member-img {
    width: 60%;
    height: 280px;
  }
  .places-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
  }
  .places-list .place-item {
    width: 100%;
    padding: 0 8px;
    margin-top: 32px;
  }
  .contact-form {
    margin-top: 16px;
  }
  .s-col-full {
    width: 100%;
  }
  .s-mt-8 {
    margin-top: 8px;
  }
  .s-full-width {
    width: 100%;
  }
  .socials-list {
    font-size: 48px;
  }
  .socials-list a {
    margin: 0 8px;
  }
  #slider .text-heading {
    display: none;
  }
  .section-heading {
    color: pink;
  }
  .section-sub-heading {
    color: pink;
  }
  .member-name {
    color: pink;
    font-size: 28px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #header .search-btn {
    display: none;
  }
  #nav > li {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    padding: 5px 41px;
    color: #fff;
  }
  #header {
    overflow: hidden;
  }
  .socials-list {
    font-size: 48px;
  }
  .socials-list a {
    margin: 0 8px;
  }
  .contact-info {
    line-height: 1.6;
  }
}

/* PC */
@media (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
}
